@page "/account/login"
@using Services.Identity.API.Models.AccountViewModels

<EditForm Model="loginModel" OnValidSubmit="@OnLogin">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="email" @bind-Value="loginModel.Email" DisplayName="email"/>
    <InputText id="password" @bind-Value="loginModel.Password" />

    <button type="submit">&nbsp;LOG IN&nbsp;</button>
</EditForm>

@code {
    private LoginViewModel loginModel;

    protected override void OnInitialized()
    {
        loginModel = new LoginViewModel();
        base.OnInitialized();
    }

    public void OnLogin()
    {

    }
}
